---
layout: archive
title: "Teaching"
#permalink: /teaching/
author_profile: true
---


<h2>Courses, Practical work, and Directed studies</h2>
<newline>
<newline>
  
<ul>
  <li>Oct. 2023 - Jan. 2024 CY Cergy Paris Université, Ing 3, Lecture + Practical work: Java programming</li>
  <li>Oct. 2023 - Jan. 2024 CY Cergy Paris Université, M2, Lecture + Practical work: Networks 2</li>
  <li>Sept. 2023 - Jan. 2024 CY Cergy Paris Université, M1, Lecture + Directed studies: Probability</li>
  <li>Feb. 2023 - Apr. 2023 Université Paris-Saclay, M1, Practical work: Information Processing and Source Coding</li>
  <li>Feb. 2023 Télécom Paris, M2, Course: Exposure to RF Electromagnetic Fields</li>
  <li>Jan. 2022 - Apr. 2022 Université Paris-Saclay, M1, Practical work: Information Processing and Source Coding</li>
  <li>Feb. 2022 Télécom Paris, M2, Lecture: Exposure to RF Eectromagnetic Fields</li>
  <li>Feb. 2022 - Mar. 2022 CentraleSupélec, Ing 2, Directed studies: Convex Optimisation</li>
  <li>Nov. 2021 IMT Nord Europe, M1, Course: UV Beyond 5G</li>
</ul>

<newline>
<newline>

<h2>Internship supervision</h2>

<newline>
<newline>

<ul>
  <li>Mar. 2023 - Aug. 2023 Q. Sun, C2M, Télécom Paris, ”Construction de cartes d’exposition RF à l’aide de
mesures et de méthodes statistiques et d’apprentissage”</li>
  <li>Apr. 2021 - Sept. 2021 S. Osman, C2M, Télécom Paris, ”Adaptation of Equipment to RF-EMF Exposure
Measurements and Prediction of an RF-EMF Exposure Map by an ANN”</li>
  <li>Apr. 2021 - Sept. 2021 M. Hamdi, C2M, Télécom Paris, ”RF-EMF Uplink Exposure Measurement and
TX Power Prediction by Using ANN for 3G and 4G Networks”</li>
  <li>Mar. 2020 - Aug. 2020 Q. Li, C2M, Télécom Paris, ”Evaluation of RF EMF Exposure Induced by Radio
electric Equipment”</li>
</ul>

<h2>PhD supervision</h2>

<newline>
<newline>

<ul>
  <li>May 2019 - jan. 2022 M. Al Hajj, C2M, Télécom Paris, ”Radio Frequency Exposure Analysis Induced
by Future 5G System</li>
</ul>

  
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
